.mainContainer {
  padding-left: 14em;
  padding-right: 14em;
}
.container {
  padding-left: 15%;
  padding-right: 15%;
  display: grid;
}
.container {
  grid-template-columns: 1fr 1fr;
}

.item-1 {
  grid-column: 2;
  grid-row: 1;
}

.item-2 {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.item-3 {
  grid-column: 2;
  grid-row: 2;
}

.item-4 {
  grid-column: 2;
  grid-row: 3;
}

.item {
  height: fit-content;
}

.item-1 {
  font-size: 40px;
}
.item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  position: relative;
}

.item-2 img {
  position: absolute;
  height: 500px;
  width: 480px;
}

.item-1 > :nth-child(1),
.item-1 > :nth-child(3) {
  color: #019863;
}
.fontColor {
  color: #003321;
}
.item-4 button {
  color: #f3f7f6;
  background-color: #019863;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 15px;
  width: 100%;
}
.item-4 button:hover {
  scale: 1.05;
  background-color: #01915f;
}
.h5-title {
  text-align: center;
  color: #2c3e50;
  font-size: 25px;
}
.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px 110px;
}
.card {
  margin: 60px;
  background-color: #f3fbf9;
  padding: 25px 20px 30px 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #01985e37;
  width: 290px;
  height: 100px;
}
.card:hover {
  scale: 1.1;
}
.card label {
  color: #008b5a;
  font-size: 22px;
}
.card span {
  color: #005d44;
  padding-top: -10px;
}

.featuresSection {
  display: flex;
  flex-direction: column;
}

.featuresSection .feature:nth-child(2) {
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.feature {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.featureText {
  display: flex;
  flex-direction: column;
}
.featureText label {
  color: #2c3e50;
  font-size: 30px;
}
.featureText span {
  color: #005d44;
  font-size: 20px;
}
.feature img {
  height: 300px;
  width: 300px;
}
.endSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.endSection label {
  margin: 10px;
  color: #2c3e50;
  font-size: 30px;
}
.endSection span {
  margin: 10px;
  font-size: 22px;
  color: #005d44;
}
.endSection button {
  margin: 10px;
  color: #f3f7f6;
  background-color: #019863;
  border: none;
  border-radius: 5px;
  padding: 8px 35px;
  font-size: 18px;
}

.endSection button:hover {
  scale: 1.1;
  background-color: #01915f;
}

/* Phone Screen CSS */
@media (max-width: 760px) {
  .span {
    word-break: break-all;
  }
  .mainContainer {
    overflow: hidden;
    padding-left: 2em;
    padding-right: 2em;
  }
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .item {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    font-size: 30px;
  }
  .item-3 {
    font-size: 16px;
  }
  .h5-title {
    font-size: 13px;
  }

  .item-4 button {
    margin: 0;
    width: 10em;
  }
  .card {
    margin: 40px;
    height: min-content;
  }
  .feature,
  .featuresSection .feature:nth-child(2) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 7em;
  }
  .featureText label {
    font-size: 35px;
  }
  .featureText span {
    font-size: 21px;
    padding-left: 1em;
    padding-right: 1em;
  }
  .endSection {
    text-align: center;
  }

  .endSection label,
  .endSection span,
  .endSection button {
    margin: 8% 0% 8% 0%;
  }

  .endSection .poppins-semibold {
    font-size: 20px;
  }

  .endSection span {
    font-size: 20px;
  }
  .title {
    margin: 0;
  }
  .cards-section {
    margin: 0;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.3;
    /* transform: rotate(-180deg); */
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    scale: 1;
    /* transform: rotate(0deg); */
    transform: translateX(0px);
  }
}

@keyframes initialAppear {
  from {
    opacity: 0;
    scale: 0.3;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0px);
  }
}
.mainContainer {
  animation: initialAppear 0.4s ease-in-out;
}
