.overlayLoading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #011b1185;
  z-index: 3;
}
.overlayBoxLoading {
  background-color: #e5f7f4;
  border-radius: 10px;
  padding: 25px 30px;
  box-shadow: 0px 0px 10px #0000000a;
  display: flex;
  flex-direction: column;
  margin: 17% 35%;
}
.alertTitleLoading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.alertTitleLoading > img {
  height: 30px;
}
.alertTitleLoading > span {
  font-size: 30px;
  margin-left: 10px;
  color: #003321;
}

/* Phone Screen CSS */
@media (max-width: 760px) {
  .overlayBoxLoading {
    margin: 85% 7%;
  }
}
