.userProfileContainer {
  padding: 0 5%;
}
.accountInfo {
  display: flex;
  align-items: center;
}
.largeProfileIcon {
  position: relative;
}
.largeProfileIcon > img:nth-child(2) {
  position: absolute;
  bottom: 15px;
  right: 0;
  cursor: pointer;
}
.profileImg {
  height: 180px;
  width: 180px;
}
.userDetails {
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.userDetails > span {
  font-size: 45px;
}
.userDetails > label {
  font-size: 25px;
}
.primary-button {
  color: #f3f7f6;
  background-color: #019863;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 15px;
}
.secondary-button {
  background: #2396ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 15px;
}
.warning-button {
  color: #f3f7f6;
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 15px;
  width: fit-content;
  justify-self: end;
}
.accountDetails input {
  margin: 0;
  font-family: poppins;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  margin-bottom: 15px;
  font-size: 15px;
}

.accountDetails input:focus {
  border: 1px solid #019863;
  outline: 1px solid #019863;
}
.accountDetails input:focus {
  border-color: #019863;
  outline: none;
  position: relative;
}

.accountDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 50px;
}
.actionButtons {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  gap: 0px 50px;
}
.actionButtons button:hover {
  scale: 1.05;
}
.passwordChange {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s ease;
}
.passwordsButton {
  display: flex;
  justify-content: space-between;
}
.hidden {
  height: 0;
}

.visible {
  height: auto;
}
.inputBox2 {
  position: relative;
  margin: 0;
}

.inputBox2 input {
  width: -webkit-fill-available;
}
.inputBox2 span {
  position: absolute;
  bottom: 23px;
  right: 10px;
  cursor: pointer;
}
.overlayBox2 {
  background-color: #e5f7f4;
  border-radius: 10px;
  padding: 30px 45px;
  box-shadow: 0px 0px 10px #0000000a;
  display: flex;
  flex-direction: column;
  margin: 5% 35%;
}

.overlayBox2 > label {
  font-size: 30px;
}
.overlayBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00332158;
  z-index: 3;
}
.iconsDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.iconGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}

.iconGrid img:hover {
  scale: 1.1;
}
.iconsDisplay img {
  height: 70px;
  margin: 10px;
}
.profile-selected {
  background: #095339;
  border-radius: 50%;
  padding: 10px;
  scale: 1.1;
}
.add-button {
  color: #f3f7f6;
  background-color: #019863;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 15px;
  width: -webkit-fill-available;
  margin-bottom: 15px;
}
.cancel-button {
  background-color: #ffffff;
  color: #003321;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 15px;
  width: -webkit-fill-available;
}
@media (max-width: 760px) {
  .userProfileContainer {
    margin-top: 10px;
    padding: 0;
  }
  .accountInfo {
    align-items: center;
  }
  .largeProfileIcon > img:nth-child(2) {
    bottom: 5px;
    right: -5px;
    scale: 0.9;
  }
  .userDetails {
    padding: 0 4%;
  }
  .userDetails > span {
    font-size: 30px;
  }
  .userDetails > label {
    font-size: 17px;
  }
  .accountDetails input {
    margin-bottom: 15px;
    font-size: 13px;
  }
  .profileImg {
    height: 100px;
    width: 100px;
  }
  .accountDetails {
    grid-template-columns: 1fr;
  }
  .actionButtons {
    grid-template-columns: 1fr;
  }
  .warning-button {
    margin-top: 15px;
    justify-self: unset;
  }
  .overlayBox2 {
    margin: 40% 5%;
  }
  .overlayBox2 > label {
    font-size: 22px;
  }
  .iconsDisplay img {
    height: 50px;
    margin: 10px;
  }
  .iconGrid {
    height: 90px;
    width: 90px;
  }
}

@keyframes initialAppear {
  from {
    opacity: 0;
    scale: 0.8;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0px);
  }
}
.userProfileContainer div {
  animation: initialAppear 0.5s ease-in-out;
}
