.aboutContainer {
  padding: 0 5%;
}
.aboutContainer > h3 {
  margin: 0;
  font-size: 35px;
  color: #019863;
}

.aboutContainer > p {
  margin: 0;
  font-size: 17px;
  text-align: justify;
  color: #003321;
}

.bottomText p {
  margin: 0;
  font-size: 20px;
  text-align: center;
}
.hyperlink {
  color: #003321;
}

@media (max-width: 760px) {
  .aboutContainer h3:first-child {
    margin-top: 10px;
  }
}

@keyframes initialAppear {
  from {
    opacity: 0;
    scale: 0.3;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0px);
  }
}
.aboutContainer h3,
.aboutContainer p {
  animation: initialAppear 0.5s ease-in-out;
}
